.square{
  width: 30px;
  height: 30px;
  background: tomato;
}

.circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
}

.capslock{  
  background: lightseagreen;
}

.rectangle{
  height: 50px;
  width: 100px;
  background: teal;
}

.triangle{
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}